@import '../../styles/mixin';

.login-page {
  @include wh(100%, 100%);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: 'PingFangSC-Light', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif !important;
  background: #fff;
  a {
    text-decoration: none;
    display: block;
  }
  a:active {
    text-decoration: none;
    display: block;
  }
  a:visited {
    text-decoration: none;
    display: block;
  }
  .top-space {
    height: 20px;
  }
  .title {
    margin-top: 80px;
    text-align: left;
    font-weight: 600;
    line-height: 60px;
    padding-left: 40px;
    font-size: 48px;
  }
  .title-des {
    font-size: 24px;
    padding-left: 40px;
    line-height: 48px;
  }
  .see-des {
    text-align: center;
    color: #333;
    font-size: 24px;
    line-height: 32px;
    font-weight: 200;
    padding-top: 20px;
    span {
      font-weight: 600;
    }
  }
  .button {
    height: 80px;
    line-height: 80px;
    padding: 0;
    margin: 0 auto;
    font-size: 32px;
    color: #fff;
    background: #333;
    text-align: center;
    font-weight: 600;
    margin-top: 40px;
  }

  input::-webkit-input-placeholder {
    color: #999;
    font-size: 28px;
  }
  input:-ms-input-placeholder {
    // IE10+
    color: #999;
    font-size: 28px;
  }
  input:-moz-placeholder {
    // Firefox4-18
    color: #999;
    font-size: 28px;
  }
  input::-moz-placeholder {
    // Firefox19+
    color: #999;
    font-size: 28px;
  }
  .bgtopWrap {
    width: 750px;
    background: #ffffff;
    background-size: 100%;
    overflow: hidden;
    margin-top: 180px;
  }
  .loginWrap {
    margin: 0px auto 0 auto;
    border-radius: 10px;
    padding: 30px 40px 30px 40px;
    overflow: hidden;
    position: relative;
  }
  .inpuWrapMpblie {
    height: 80px;
    margin: 20px auto 0px auto;
    overflow: hidden;
    border-bottom: 1px solid #f8f8f8;
    input {
      border: 0;
      height: 80px;
      font-size: 28px;
      width: 100%;
      outline: 0;
      background-color: transparent;
      -webkit-appearance: none;
      overflow: hidden;
      padding: 0 0 0 20px;
      margin: 0;
      text-align: left;
      color: #333;
    }
  }

  .inpuWrapNumber {
    height: 80px;
    margin: 20px 0 0px 0;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #f8f8f8;
    input {
      width: 275px;
      height: 80px;
      font-size: 28px;
      outline: 0;
      background-color: transparent;
      -webkit-appearance: none;
      overflow: hidden;
      padding: 0 0 0 20px;
      margin: 0;
      border: 0;
      float: left;
      text-align: left;
      color: #333;
    }
  }

  .numberWrap {
    width: 198px;
    height: 74px;
    border: 1px solid #ffffff;
    font-size: 28px;
    border-radius: 6px;
    text-align: center;
    line-height: 74px;
    float: right;
    margin-left: 20px;
    background: #fff;
    color: #d64761;
  }

  .erroMessage {
    position: absolute;
    font-size: 16px;
    color: #666;
    text-align: center;
    top: 220px;
    right: 120px;
    height: 24px;
  }
  .am-toast .am-toast-notice-content .am-toast-text {
    padding: 15px;
    font-size: 18px !important;
    border-radius: 10px !important;
  }
  .copyright {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    padding: 50px 10px 40px 10px;
  }
}
