@import "../../styles/mixin";

.addressList-page {
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 170px;

  .content {
    display: flex;
    .info {
      padding-left: 50px;
      width: 80%;
      font-size: 28px;
      white-space: normal;
      margin-top: 20px;
      margin-bottom: 20px;
      .contact {
        margin-bottom: 10px;
        .name {
          font-size: 30px;
          font-weight: bold;
          margin-right: 20px;
        }
      }
    }
    .edit {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      image, .taro-img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .add {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    font-size: 35px;
    background: $bg-color-base;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bg-color-panel;
    image, .taro-img {
      width: 35px;
      height: 35px;
      display: inline-block;
      margin-right: 6px;
    }
  }

  .empty-address {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .am-list-body .am-list-item:not(:last-child) .am-list-line {
    border-bottom: none !important;
  }
  .am-list-body .am-list-item:not(:last-child) .content {
    border-bottom: 1px solid #eee !important;
  }

  .am-list-item {
    padding-left: 0;
  }
}
