{
  "extends": ["taro"],
  "rules": {
    "jsx-quotes": 0,
    "import/prefer-default-export": 0,
    "react/no-unused-state": 0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }]
  }
}
