@import "../../styles/mixin";

.order-page {
  min-height: 100vh;
  background-color: #F9F9F9;
  .toggleType {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    .item {
      display: inline-block;
      width: 20%;
      text-align: center;
      font-size: 24px;
      font-weight: 200;
      color: #666;

      &.active {
        color: #EC5D75;
        font-weight: 400;
      }
    }
  }
  .empty {
    margin-top: 330px;
    height: 178px;
    background: url("http://static-r.msparis.com/uploads/9/6/968b64edb282160e7da5dd184154bbe7.png") no-repeat center;
    background-size: contain;
    &.card {
      margin-top: 410px;
    }
  }
}
