@import "../../styles/mixin";

.invite-page {
  @include wh(100%, 100%);
  background: #fff;
  padding-bottom: 100px;
  text-align: center;
  .bottom-btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 140px;
    background: rgba(255, 255, 255, 0.9);
    .m-button {
      background-color: #ec5d75;
      border-radius: 10rem;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 92%;
      height: 90px;
      font-size: 30px;
    }
  }
  .barrage {
    text-align: center;
    font-size: 24px;
    background: #f5f5f5;
    display: inline-block;
    min-width: 80%;
    height: 52px;
    line-height: 52px;
    padding: 0 30px 0 60px;
    position: relative;
    border-radius: 25px;
    img,image {
      width: 52px;
      height: 52px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
  }

  .banner {
    width: 76%;
    margin: 0 auto;
  }

  .detail {
    h2 {
      font-size: 36px;
      font-weight: normal;
    }
    .span {
      color: #999;
      font-size: 28px;
    }
  }
}

.mark {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  img,image {
    width: 50%;
    float: right;
  }
}
