@font-face {
	font-family: "iconfont_1520482582531";
	src: url('https://static-rs.msparis.com/iconfont/fonts/iconfont_1520482582531.eot');
	src: url('https://static-rs.msparis.com/iconfont/fonts/iconfont_1520482582531.eot?#iefix') format('eot'),
		url('https://static-rs.msparis.com/iconfont/fonts/iconfont_1520482582531.ttf') format('truetype');
}

.iconfont {
	font-family: "iconfont_1520482582531" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


.icon-10day:before {
	content: "\E001";
}

.icon-15day:before {
	content: "\E002";
}

.icon-4day:before {
	content: "\E003";
}

.icon-5day:before {
	content: "\E004";
}

.icon-7day:before {
	content: "\E005";
}

.icon-addcolour:before {
	content: "\E006";
}

.icon-arrowbuttombig:before {
	content: "\E007";
}

.icon-arrowbuttomsmallcolour:before {
	content: "\E008";
}

.icon-arrowbuttomsmall:before {
	content: "\E009";
}

.icon-arrowsright:before {
	content: "\E00A";
}

.icon-bagfill:before {
	content: "\E00B";
}

.icon-bag:before {
	content: "\E00C";
}

.icon-calendarright:before {
	content: "\E00D";
}

.icon-circleround:before {
	content: "\E00E";
}

.icon-clothefill:before {
	content: "\E00F";
}

.icon-clothe:before {
	content: "\E010";
}

.icon-coathangerfill:before {
	content: "\E011";
}

.icon-coathanger:before {
	content: "\E012";
}

.icon-correctrigh:before {
	content: "\E013";
}

.icon-correctroundadd:before {
	content: "\E014";
}

.icon-correctroundrightcolour:before {
	content: "\E015";
}

.icon-correctroundright:before {
	content: "\E016";
}

.icon-customerservice:before {
	content: "\E017";
}

.icon-cyclecolour:before {
	content: "\E018";
}

.icon-diamondgray:before {
	content: "\E019";
}

.icon-doublearrowright:before {
	content: "\E01A";
}

.icon-eyegray:before {
	content: "\E01B";
}

.icon-focuscolour:before {
	content: "\E01C";
}

.icon-focusgray:before {
	content: "\E01D";
}

.icon-heartcolour:before {
	content: "\E01E";
}

.icon-heartgray:before {
	content: "\E01F";
}

.icon-heart:before {
	content: "\E020";
}

.icon-homefill:before {
	content: "\E021";
}

.icon-home:before {
	content: "\E022";
}

.icon-loveexpresscolour:before {
	content: "\E023";
}

.icon-numbercolour:before {
	content: "\E024";
}

.icon-personmyfill:before {
	content: "\E025";
}

.icon-personmy:before {
	content: "\E026";
}

.icon-querycolour:before {
	content: "\E027";
}

.icon-seacher:before {
	content: "\E028";
}

.icon-tagcolour:before {
	content: "\E029";
}

.icon-triangularcolour:before {
	content: "\E02A";
}

.icon-triangulargray:before {
	content: "\E02B";
}

.icon-xinxingshixin:before {
	content: "\E02C";
}

.icon-xinxingkongxin:before {
	content: "\E02D";
}

.icon-wodeshixin:before {
	content: "\E02E";
}

.icon-wodekongxin:before {
	content: "\E02F";
}

.icon-shoutidai:before {
	content: "\E030";
}

.icon-xingxingshixin:before {
	content: "\E031";
}

.icon-xingxingkongxin:before {
	content: "\E032";
}

.icon-yifushixin:before {
	content: "\E033";
}

.icon-yifukongxin:before {
	content: "\E034";
}

.icon-yidaishixin:before {
	content: "\E035";
}

.icon-yidaikongxin:before {
	content: "\E036";
}

.icon-dingdanshixin:before {
	content: "\E037";
}

.icon-dingdankongxin:before {
	content: "\E038";
}
