/* colors
-------------------------- */

/* button-colors
-------------------------- */

/* 53a8ff */

/* background-colors
-------------------------- */

/* tag-colors
-------------------------- */

/* methods
-------------------------- */

@font-face {
  font-family: "iconfont_1520482582531";
  src: url("https://static-rs.msparis.com/iconfont/fonts/iconfont_1520482582531.eot");
  src: url("https://static-rs.msparis.com/iconfont/fonts/iconfont_1520482582531.eot?#iefix") format("eot"), url("https://static-rs.msparis.com/iconfont/fonts/iconfont_1520482582531.ttf") format("truetype");
}

.iconfont {
  font-family: "iconfont_1520482582531" !important;
  font-size: 0.34133rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.00427rem;
  -moz-osx-font-smoothing: grayscale;
}

.icon-10day:before {
  content: "\E001";
}

.icon-15day:before {
  content: "\E002";
}

.icon-4day:before {
  content: "\E003";
}

.icon-5day:before {
  content: "\E004";
}

.icon-7day:before {
  content: "\E005";
}

.icon-addcolour:before {
  content: "\E006";
}

.icon-arrowbuttombig:before {
  content: "\E007";
}

.icon-arrowbuttomsmallcolour:before {
  content: "\E008";
}

.icon-arrowbuttomsmall:before {
  content: "\E009";
}

.icon-arrowsright:before {
  content: "\E00A";
}

.icon-bagfill:before {
  content: "\E00B";
}

.icon-bag:before {
  content: "\E00C";
}

.icon-calendarright:before {
  content: "\E00D";
}

.icon-circleround:before {
  content: "\E00E";
}

.icon-clothefill:before {
  content: "\E00F";
}

.icon-clothe:before {
  content: "\E010";
}

.icon-coathangerfill:before {
  content: "\E011";
}

.icon-coathanger:before {
  content: "\E012";
}

.icon-correctrigh:before {
  content: "\E013";
}

.icon-correctroundadd:before {
  content: "\E014";
}

.icon-correctroundrightcolour:before {
  content: "\E015";
}

.icon-correctroundright:before {
  content: "\E016";
}

.icon-customerservice:before {
  content: "\E017";
}

.icon-cyclecolour:before {
  content: "\E018";
}

.icon-diamondgray:before {
  content: "\E019";
}

.icon-doublearrowright:before {
  content: "\E01A";
}

.icon-eyegray:before {
  content: "\E01B";
}

.icon-focuscolour:before {
  content: "\E01C";
}

.icon-focusgray:before {
  content: "\E01D";
}

.icon-heartcolour:before {
  content: "\E01E";
}

.icon-heartgray:before {
  content: "\E01F";
}

.icon-heart:before {
  content: "\E020";
}

.icon-homefill:before {
  content: "\E021";
}

.icon-home:before {
  content: "\E022";
}

.icon-loveexpresscolour:before {
  content: "\E023";
}

.icon-numbercolour:before {
  content: "\E024";
}

.icon-personmyfill:before {
  content: "\E025";
}

.icon-personmy:before {
  content: "\E026";
}

.icon-querycolour:before {
  content: "\E027";
}

.icon-seacher:before {
  content: "\E028";
}

.icon-tagcolour:before {
  content: "\E029";
}

.icon-triangularcolour:before {
  content: "\E02A";
}

.icon-triangulargray:before {
  content: "\E02B";
}

.icon-xinxingshixin:before {
  content: "\E02C";
}

.icon-xinxingkongxin:before {
  content: "\E02D";
}

.icon-wodeshixin:before {
  content: "\E02E";
}

.icon-wodekongxin:before {
  content: "\E02F";
}

.icon-shoutidai:before {
  content: "\E030";
}

.icon-xingxingshixin:before {
  content: "\E031";
}

.icon-xingxingkongxin:before {
  content: "\E032";
}

.icon-yifushixin:before {
  content: "\E033";
}

.icon-yifukongxin:before {
  content: "\E034";
}

.icon-yidaishixin:before {
  content: "\E035";
}

.icon-yidaikongxin:before {
  content: "\E036";
}

.icon-dingdanshixin:before {
  content: "\E037";
}

.icon-dingdankongxin:before {
  content: "\E038";
}

page,
body {
  font-size: 0.68267rem;
  height: 100%;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
}

.taro-img,
image {
  width: 100%;
}

button {
  outline: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.position-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
/* colors
-------------------------- */

/* button-colors
-------------------------- */

/* 53a8ff */

/* background-colors
-------------------------- */

/* tag-colors
-------------------------- */

/* methods
-------------------------- */

.swiper-container {
  width: 100vw;
  height: 9.6rem;
}

.swiper-container .swiper-img,
.swiper-container img {
  height: 9.6rem !important;
}
/* colors
-------------------------- */

/* button-colors
-------------------------- */

/* 53a8ff */

/* background-colors
-------------------------- */

/* tag-colors
-------------------------- */

/* methods
-------------------------- */

.zan-capsule {
  font-size: 0.512rem;
  vertical-align: middle;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  margin-top: 0.08533rem;
}

.zan-capsule__left,
.zan-capsule__right {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  white-space: nowrap;
}

.zan-capsule__left {
  padding: 0 0.04267rem;
  color: #fff;
  background: #D87182;
  border-radius: 0.04267rem;
  border: 0.02133rem solid #D87182;
  margin-right: 0.08533rem;
}

.zan-capsule__center {
  padding: 0 0.04267rem;
  color: #fff;
  border-radius: 0.04267rem 0 0 0.04267rem;
  margin-right: 0.08533rem;
  background: #555;
  border: 0.02133rem solid #555;
}

.zan-capsule__right {
  padding: 0 0.10667rem;
  color: #999;
  border-radius: 0.04267rem;
  border: 0.04267rem solid #999;
}

.zan-capsule--danger .zan-capsule__left {
  color: #fff;
  background: #f24544;
  border-color: #f24544;
}

.zan-capsule--danger .zan-capsule__right {
  color: #f24544;
  border-color: #f24544;
}

.goods-list-container {
  background-color: #fff;
}

.goods-list-container .goods-ul {
  padding-right: 0.42667rem;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}

.goods-list-container .goods-ul .goods-li {
  width: 50%;
  margin-bottom: 0.85333rem;
  padding-left: 0.42667rem;
  box-sizing: border-box;
}

.goods-list-container .goods-ul .goods-li .pos {
  position: relative;
  padding-bottom: 0.17067rem;
}

.goods-list-container .goods-ul .goods-li .pos .img-container img {
  height: 11.072rem;
  width: auto;
}

.goods-list-container .goods-ul .goods-li span,
.goods-list-container .goods-ul .goods-li text {
  display: block;
  color: #666;
  font-size: 0.55467rem;
  line-height: 0.768rem;
}

.goods-list-container .mage-box-wrap {
  position: relative;
}

.goods-list-container .unable,
.goods-list-container .sold-out {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 0;
  top: 0;
}

.goods-list-container .unable .sales-end,
.goods-list-container .sold-out .sales-end {
  position: absolute;
  font-size: 0.64rem;
  width: 3.84rem;
  height: 3.84rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 100%;
  text-align: center;
  line-height: 3.84rem;
  color: #fff;
}
/* colors
-------------------------- */

/* button-colors
-------------------------- */

/* 53a8ff */

/* background-colors
-------------------------- */

/* tag-colors
-------------------------- */

/* methods
-------------------------- */

.home-page {
  width: 100%;
  height: 100%;
}

.home-page .nav-list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 0.42667rem;
}

.home-page .nav-list .nav-item {
  width: 23%;
  margin: 0 0.10667rem;
}

.home-page .recommend {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0.64rem 0;
  font-size: 0.768rem;
}
/* colors
-------------------------- */

/* button-colors
-------------------------- */

/* 53a8ff */

/* background-colors
-------------------------- */

/* tag-colors
-------------------------- */

/* methods
-------------------------- */

.cart-page {
  width: 100%;
  height: 100%;
}

.cart-page .empty {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
}

.cart-page .empty img,
.cart-page .empty image {
  width: 3.456rem;
  height: 3.66933rem;
  margin: 45% auto 1.70667rem auto;
}

.cart-page .empty .am-button {
  width: 9.17333rem;
  height: 1.70667rem;
  line-height: 1.70667rem;
  margin: 0 auto;
  background-color: #EC5D75;
  border: 0.02133rem solid #EC5D75;
  border-radius: 0.85333rem;
  font-size: 0.64rem;
}
/* colors
-------------------------- */

/* button-colors
-------------------------- */

/* 53a8ff */

/* background-colors
-------------------------- */

/* tag-colors
-------------------------- */

/* methods
-------------------------- */

.user-page {
  width: 100%;
  height: 100%;
  padding: 0 0.96rem;
  box-sizing: border-box;
}

.user-page .taro-img,
.user-page image {
  height: 100%;
}

.user-page .not-login .to-login {
  width: 100%;
  padding: 1.06667rem 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.user-page .not-login .to-login .left {
  display: -webkit-flex;
  display: flex;
  min-height: 4.26667rem;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.user-page .not-login .to-login .left .name {
  width: 9.216rem;
  font-size: 1.45067rem;
  color: #999999;
  white-space: pre-wrap;
  word-break: break-all;
}

.user-page .not-login .to-login .left .name.black {
  color: #000000;
}

.user-page .not-login .to-login .left .msg {
  width: 1.06667rem;
  height: 0.85333rem;
  margin-top: 1.06667rem;
  margin-left: 0.53333rem;
  object-fit: contain;
}

.user-page .not-login .to-login .avatar-container {
  border-radius: 50%;
  width: 4.26667rem;
  height: 4.26667rem;
  overflow: hidden;
}

.user-page .not-login .to-login .avatar-container .avatar {
  width: 4.26667rem;
  height: 4.26667rem;
  object-fit: contain;
}

.user-page .not-login .list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  width: 14.08rem;
  height: 3.2rem;
  margin: 0 auto;
  background: #F9F9F9;
  border-radius: 0.21333rem;
}

.user-page .not-login .list .item {
  width: 2.56rem;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

.user-page .not-login .list .item .taro-img {
  height: auto;
}

.user-page .not-login .list .item img,
.user-page .not-login .list .item image {
  width: 1.28rem;
  object-fit: contain;
  margin: 0 auto;
}

.user-page .not-login .list .item span,
.user-page .not-login .list .item text {
  margin-top: 0.21333rem;
  color: #666666;
  font-size: 0.46933rem;
}

.user-page .not-login .list .item i.num {
  min-width: 0.68267rem;
  height: 0.68267rem;
  line-height: 0.68267rem;
  font-size: 0.384rem;
  text-align: center;
  color: #ffffff;
  background: #EC5D75;
  border-radius: 0.34133rem;
  padding: 0 0.21333rem;
  box-sizing: border-box;
  position: absolute;
  top: 0.46933rem;
  left: 1.45067rem;
}

.user-page .login .card {
  width: 14.08rem;
  padding: 0.85333rem 0;
  border-bottom: 0.04267rem solid #eeeeee;
}

.user-page .login .card .type {
  background-image: -webkit-gradient(linear, right top, left top, from(#E2868B), color-stop(97%, #E5C1C1));
  background-image: -webkit-linear-gradient(right, #E2868B 0%, #E5C1C1 97%);
  background-image: linear-gradient(-90deg, #E2868B 0%, #E5C1C1 97%);
  border-radius: 0.21333rem;
  height: 4.05333rem;
}

.user-page .login .card .type.type0 {
  background: url("http://static-r.msparis.com/uploads/e/3/e3fe0890238d2f11947909936b020203.png") center no-repeat;
  background-size: contain;
}

.user-page .login .card .type.type1 {
  background: url("http://static-r.msparis.com/uploads/5/c/5ca682fe16bd0f0f6a24fd963a7494ee.png") center no-repeat;
  background-size: contain;
}

.user-page .login .card .type.type2 {
  background: url("http://static-r.msparis.com/uploads/b/6/b682e817f2283d369b93c3bda2077f7f.png") center no-repeat;
  background-size: contain;
}

.user-page .login .card .type .operation {
  width: 8.10667rem;
  height: 100%;
  margin-left: 5.54667rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.user-page .login .card .type .operation .txt {
  color: #ffffff;
  text-align: center;
  font-size: 0.512rem;
}

.user-page .login .card .type .operation .txt span,
.user-page .login .card .type .operation .txt text {
  font-size: 0.59733rem;
  margin-right: 0.21333rem;
}

.user-page .login .card .type .operation .btn {
  width: 4.48rem;
  height: 1.408rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  border-radius: 2.13333rem;
  background: #ffffff;
  font-size: 0.55467rem;
  color: #E2868B;
  padding-left: 0.768rem;
  margin-top: 0.21333rem;
  box-sizing: border-box;
}

.user-page .login .card .type .operation .btn i,
.user-page .login .card .type .operation .btn icon {
  line-height: 1.408rem;
  font-size: 0.46933rem;
}

.user-page .login .card .type .operation .btn i:first-child,
.user-page .login .card .type .operation .btn icon:first-child {
  margin-left: 0.21333rem;
}

.user-page .login .card .type .operation .btn i:last-child,
.user-page .login .card .type .operation .btn icon:last-child {
  margin-left: -0.21333rem;
}

.user-page .login .item {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  height: 2.13333rem;
  border-bottom: 0.04267rem solid #eeeeee;
}

.user-page .login .item .taro-img,
.user-page .login .item image {
  width: 0.85333rem;
  height: 0.85333rem;
  object-fit: contain;
}

.user-page .login .item .left {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  line-height: 100%;
}

.user-page .login .item .left span,
.user-page .login .item .left text {
  margin-left: 0.42667rem;
  white-space: nowrap;
}

.user-page .login .item .right {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  line-height: 100%;
}

.user-page .login .item .right .num {
  display: inline-block;
  font-size: 0.384rem;
  text-align: center;
  color: #ffffff;
  background: #EC5D75;
  border-radius: 0.42667rem;
  padding: 0.128rem 0.256rem;
  box-sizing: border-box;
  margin-right: 0.53333rem;
}

.user-page .login .item .right i.arrow {
  font-size: 0.42667rem;
}
/* colors
-------------------------- */

/* button-colors
-------------------------- */

/* 53a8ff */

/* background-colors
-------------------------- */

/* tag-colors
-------------------------- */

/* methods
-------------------------- */

.detail-page {
  width: 100%;
  height: 100%;
}
