@import '../../styles/base';

.ClothingsItem-page {
  box-sizing: border-box;
  padding: 0 40px;
  .WhiteSpace {
    height: 30px;
  }
  .hr {
    height: 1px;
    border-top: 1px solid #eee;
  }
  .collect {
    background-color: #fff;
    border: 1px dashed #ccc;
    color: #aaa;
    font-size: 28px;
    @include wh(100%, 180px);
    @include fj(center);
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    .icon-add {
      font-size: 36px;
      margin-right: 20px;
    }
    .p {
      width: 100%;
      color: #cd8e98;
      span {
        display: inline-block;
        font-size: 25px;
        margin-top: 10px;
      }
    }
  }
  .lose {
    color: #bbb;
    .size {
      color: #bbb !important;
    }
    .am-tag {
      background: #bbb !important;
    }
    .shop-img:after {
      content: '已失效';
      display: inline-block;
      @include wh(100%, 40px);
      line-height: 40px;
      text-align: center;
      @include sc(24px, #fff);
      background: rgba(204, 204, 204, 0.9);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 9;
    }
  }
  .clothing {
    font-size: 25px;
    @include wh(100%, 180px);
    @include fj(flex-start);
    align-items: center;
    position: relative;
    .shop-img {
      position: relative;
      height: 100%;
      margin-right: 30px;
      image,
      .taro-img {
        max-width: 120px;
        width: 120px;
        height: 180px;
      }
    }
    .content {
      line-height: 1.6;
      padding-right: 60px;
      .title {
        font-size: 25px;
        font-weight: 700;
      }
      .size {
        @include sc(22px, #888);
      }
    }
    .edit {
      @include ct();
      right: 0;
      .add-price {
        color: #cd8e98;
        font-size: 25px;
        .iconfont {
          position: relative;
          top: 2px;
        }
      }
      .icon-delete {
        @include sc(66px, #ccc);
        float: right;
      }
    }
  }
  .balance {
    @include sc(26px, #666);
    line-height: 1.5;
    .price {
      @include sc(26px, #333);
    }
  }
}
