@import "../../styles/mixin";

.detail-page {
  padding-bottom: 120px;
  background-color: #fff;
  .container {
    padding: 0 35px;
    padding-top: 20px;
    text-align: left;
    background: #fff;
    .info-business-card {
      margin-top: 10px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      .name {
        display: inline-block;
        color: #333;
        font-size: 34px;
        line-height: 30px;
        padding-right: 20px;
        font-weight: bold;
      }
      .model {
        display: inline-block;
        color: #878787;
        font-size: 28px;
        line-height: 30px;
      }
    }
    .product_name {
      font-size: 36px;
      color: #444;
      div,view {
        font-size: 27px;
        color: #fff;
        display: inline-block;
        background: #D87182;
        padding: 3px 6px;
        position: relative;
        top: -4px;
        margin-right: 10px;
      }
    }
    .code {
      font-size: 26px;
      color: #888;
      display: inline-block;
      margin: 10px 0;
    }
    .info-tags {
      margin-bottom: 10px;
      overflow: hidden;
      .tag {
        display: inline-block;
        font-size: 26px;
        line-height: 36px;
        overflow: hidden;
        color: #CB939D;
      }
      .space-line {
        display: inline-block;
        width: 40px;
        text-align: center;
        font-size: 26px;
        line-height: 36px;
        overflow: hidden;
        color: #CB939D;
      }
    }
    .info-size {
      width: 100%;
      min-height: 76px;
      margin: 20px 0;
      overflow-y: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling:touch;
      white-space: nowrap;
      font-size: 20px;
      div,view {
        display: inline-block;
      }
      .size {
        display: inline-block;
        height: 70px;
        line-height: 70px;
        width: 150px;
        text-align: center;
        border: 2px solid #333;
        margin-right: 25px;
        .double {
          line-height: 35px;
          font-size: 26px;
          display: block;
          &.font {
            font-size: 24px;
            transform: scale(0.8);
            color: #666;
          }
        }
        &.on {
          background: #333;
          color: #fff;
          .font {
            color: #fff;
          }
        }
        &.off {
          opacity: 0.5;
        }
      }
    }

    .proudct-size-line {
      overflow: hidden;
      height: 48px;
      line-height: 48px;
      border-bottom: 1px solid #f8f8f8;
      padding-bottom: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      .text {
        color: #878787;
        text-align: left;
        display: inline-block;
        font-size: 24px;
      }
      .icon-tag {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-image: url('data: image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAvVJREFUWAntmDFrKkEQx8fwjGJiFCyCCmI+gHaWNpIgJGn8rmqj2FimtEgV1EASBAORGNEEfM/fgiBys3eeuYeFA3LnzvKf/87Ozsxe6O9K5IDl5IC5GWpHgvvu0NGD+3rwzz4A7+/vMhgM5O3tTWazmXx9fRm4s7MzicVikk6nJZ/PSyqV8m0m5CfN9Pt9eXh4kI+PD4lEIpLNZuX8/NyQgglkp9OpvLy8yGKxkGQyKaVSSa6urnYmuhPBz89P6XQ6MhqNJJfLSaFQkEwmI6FQyNEwKfb19VV6vZ48Pz/L5eWlVCoVicfjjvOdBj0TZBtbrZbxWLlcNsScALUxiHa7XePRm5sbs/3a3M1xTwQh12g0DCjgp6enmxie39nudrttYvbu7s4TSdc0w7biOQL+9vbWNzlWQbyCARaYYLuJK0FiDmA8p8Wam5FNPRjX19cGE2w3sRLktHIgiDm/2+pEgAWDCTY2bGLNg6SScDgsT09P5mcD8qMDGxu29KMSHI/HJs9dXFzI4+OjyWUATiYTwyWRSMjPz4+ZQ57zowObXErC15K5usXD4dDECXkL4Vmr1UyAE+S8/4aO7R6sqpEmKkFSCxXi5ESdomF6HgcbG9jSRLVOuaJ8BS3YwJYmKkEKPwU/aMHGuslwsqUeEqfJjFWrVU3lW2fLr6oHaZlsrldZ7qjAhm2n1Fpcr9clGo2akzqfz8379oFZLpeyr45qAsb9/b3j0lQPkkro53A/K9wmBxpj++jAxga2NFEJ5ledMN0HbVJQAjY2sKWJSpDMToWg2QxKwMaGVkWwqxJESZtOJxyEF8EEGxs2sRKkiNOm0wl/f3/bcHbSgQUm2LZGAVArQSZQb4kTGszf+IwDBlhggu0mrgS54NCsUi+bzeZensRzYIAFppfLk5oHt1cGKCtfN5vc5nYRYi6wS9OayPa1s1gsmhymlar/eu1ck+R5sBf3TZK8H+ynj22iQf53PcVBGveCfSToxUu2OUcP2rzjRfcP98q82BtNbg8AAAAASUVORK5CYII=');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        top: 8px;
        margin-right: 5px;
      }
    }

    .goods-info {
      .chapter-head {
        font-size: 36px;
        margin: 50px 0 20px 0;
        .icon {
          width: 36px;
          height: 36px;
          position: relative;
          top: 4px;
        }
      }
      .introduce {
        height: 90px;
        line-height: 90px;
        border: 1px solid #ddd;
        font-size: 32px;
        padding: 0 30px;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        .b {
          font-weight: bold;
        }
        .iconfont {
          color: #888;
        }
        image {
          width: auto;
          height: 90px!important;
        }
      }
      .light {
        color: #888;
        width: 680px;
        white-space: pre-wrap;
        word-break: break-all;
        line-height: 36px;
      }

      .server-ul {
        @include fj(space-around);
        text-align: center;
        color: #888;
        image,.taro-img {
          width: 150px;
          height: auto;
          display: inline-block;
          margin-bottom: 10px;
        }
      }
      .detail-info {
        margin-bottom: 14px;
        div,view {
          color: #888;
          font-size: 24px;
          line-height: 1.8;
        }
        .head {
          font-size: 30px;
          margin-bottom: 20px;
          image,.taro-img {
            display: inline-block;
            width: 42px;
            height: 42px;
            position: relative;
            top: 8px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .detail-bottom-btns {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 98px;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 350px;
    .join {
      width: 300px;
      height: 98px;
      font-size: 34px;
      color: #fff;
      background: #F26D83;
      line-height: 98px;
      text-align: center;
      position: absolute;
      right: 0;
    }
    .join-disabled {
      background: mix(#fff, #F26D83, 70%);
    }
    .nav {
      flex: 1;
      text-align: center;
      font-size: 16px;
      position: relative;
      color: #000;
      border: none;
      outline: none;
      background-color: #fff;
      .nav-img {
        display: block;
        margin: 0 auto;
        width: 60px;
        height: 60px;
      }
    }
  }

  .text-center {
    text-align: center;
  }

  .image-box {
    box-sizing: border-box;
    padding: 0 25px;
    height: 1052px;
    position: relative;
    overflow: hidden;
    .share-btn {
      position: absolute;
      top: 40px;
      right: 40px;
      z-index: 999;
      width: 100px;
      height: 100px;
      background-image: url('http://static-r.msparis.com/uploads/f/8/f88a268b97504707e39104d00ca644fc.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      button {
        width: 100px;
        height: 100px;
        opacity: 0;
      }
    }
  }

  .zan-capsule__center {
    background: #555!important;
    border: 1px solid #555;
    margin-left: 4px;
  }

  .fj {
    padding-left: 100px;
    position: relative;
    margin-bottom: 40px;
    .goods-img {
      margin-top: 10px;
      width: 40%;
    }
    >.fj-img {
      display: inline-block;
      width: 80px;
      height: 80px;
      min-width: 80px;
      min-height: 80px;
      margin-right: 30px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .fj-name {
      font-size: 30px;
    }
    .font26 {
      font-size: 26px;
    }
    .fj-tag {
      font-size: 24px;
      color: #888;
      line-height: 40px;
    }
    .fj-info {
      font-size: 28px;
      color: #444;
    }
    .comment-img {
      width: calc(100vw - 140px);
      overflow: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling:touch;
      white-space: nowrap;
      .goods-img {
        margin-right: 20px;
        width: 28%;
        height: auto;
      }
    }
  }
  .customBadge {
    position: absolute;
    top: -3px;
    right: -15px;
  }
  .zan-badge {
    position: relative;
  }

  .zan-badge__count {
    position: absolute;
    top: -15px;
    right: 36px;
    height: 60px;
    min-width: 60px;
    line-height: 60px;
    font-size: 40px;
    border-radius: 30px;
    background: $btn-active;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transform: translateX(50%) scale(0.5);
    transform-origin: center;
    z-index: 10;
    box-shadow: 0 0 0 2px #fff;
    box-sizing: border-box;
  }
}

