@import "../../styles/mixin";

.couponList-page {
  @include wh(100%, 100%);
  background: #fff;
  padding-top: 280px;
  box-sizing: border-box;
  .am-button-primary {
    border: none;
  }
  .header {
    box-sizing: border-box;
    background-color: white;
    padding: 44px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    .coupons {
      @include fj(space-between);
      align-items: center;
      span {
        @include fj();
        align-items: center;
        font-size: 30px;
        color: #333;
        span {
          margin-left: 5px;
        }
      }
    }

    .getCoupon {
      margin-top: 40px;
      color: #999;
      @include fj();
      align-items: center;
      font-size: 26px;
      input {
        display: block;
        font-size: 30px;
        color: #333;
        border: none;
        margin-top: 15px;
      }
      .so-small {
        display:inline-block;
        margin: 0;
        padding: 0;
        width: 120px;
        position:relative;
        color:#333;
        background-color:#fff;
        margin-bottom:10px;
        padding-left:30px;
        padding-right:30px;
        border-radius:4px;
        font-size:24px;
        line-height:60px;
        height:60px;
        box-sizing:border-box;
        text-decoration:none;
        text-align:center;
        vertical-align:middle;
      }
    }
    .coupon-option {
      @include fj(flex-start);
      align-items: center;
      padding: 20px 0;
      font-size: 28px;
      color: #333;
      letter-spacing: 0;
      .select-img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        margin-right: 16px;
      }
    }
  }
  .no-coupon {
    image,.taro-img {
      width: 60%;
      display: block;
      margin: 0 auto;
    }
  }
  .histroy {
    color: #999;
    line-height: 50px;
    font-size: 28px;
    .iconfont {
      font-size: 20px;
      margin-left: 5px;
    }
  }
}
